.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}
/*
.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}
*/
.RichEditor-styleButton {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  margin: 3px;
  display: inline-block;
  cursor: pointer;
}

.RichEditor-activeButton {
  color: #5890ff;
}


.RichEditor-table {
  display:table;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.RichEditor-table-header {
  display: table-header-group;
  background: #eee;
}
.RichEditor-table-body {
  display: block;
}

.RichEditor-table-body > div {
  width: 100%;
}

.RichEditor-table-row {
  display: block;
  width: 100%;
  clear:both;
}

.RichEditor-table-row > div > div {
  display: flex;
  width: 100%;
  flex-direction: row;
  word-break: break-all;
}

.RichEditor-table-cell {
  border: 1px solid black;
  border-bottom-width: 0;
  border-right-width: 0;
  padding: 8px;
  flex-grow: 1;
  flex-basis: 0;
}
